*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0 10%;
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(250, 183, 95);
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(194, 194, 194);
}


.navegacao{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    background-color: antiquewhite;
    position: fixed;
}

.conteudo-logo
{
    display: flex;
    align-items: center;
}

.conteudo-logo img
{
    width: 80px;
    border-radius: 50%;
}

.conteudo-logo h3
{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin: 20px;
    color: rgb(61, 61, 61)
}
.conteudo-menu
{
    display: flex;
    align-items: center;
}

nav ul, nav li
{
    display: flex;
    
    
}
nav li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a
{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: rgb(61, 61, 61);
    text-transform: uppercase;
    text-decoration: solid;
    font-weight: 700;
}

nav a:hover{
    background-color: rgb(233, 29, 29);
    color: white
}
.conteudo-banner
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner
{
    flex: 1;
    background-image: url("/img/banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 95vh;   
    margin-bottom: 20px;
}

#texto
{
    display: flex;
    
}

h2
{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 30px;
    background-color: rgb(233, 29, 29);
    color: white;
}


.conteudo-destaque
{
    display: flex;
    justify-content: space-between;
    height: 50vh;
    padding: 0.5%;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.conteudo-destaque-info
{
    display: flex;
    text-align: center;
    align-self: center;
    font-family: cursive;
    font-size: larger;
    margin: 20px;
    padding: 35px;
    flex: 1;
    /* border: 1px solid rgb(197, 197, 197); */
    border-radius: 20px ;
    background-color: rgb(255, 255, 255);
}

.conteudo-destaque-img
{
    flex: 1;  
    background-image: url("/img/natal.jpg");
    background-size: cover;
    margin: 20px;
    width: 100%;
    border-radius: 20px ;

}

.conteudo-produto
{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.card
{
    padding: 15px;
    margin: 30px;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 20px ;

}

.card-logo
{
    /* background-image: url("/img/card-logo.jpg"); */
    background-size: cover;
    width: 100%;
    height: 25vh;
    border-radius: 15px;
    margin-bottom: 20px;
    
}
.card p 
{
    padding-bottom: 25px;
}
.card-logo img
{
    width: 100%;
    height: 100%;
}

.card a
{
    background-color: rgb(241, 46, 39);
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

.card a:hover
{
    color:rgb(241, 46, 39);
    background-color: white;
}

footer{
    background-color: rgb(241, 46, 39);
    position: relative;
    padding: 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
  } 
